<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEAUTIFUL INDONESIA 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-3 mb-2 ">
  <ion-card-subtitle>Hotel - hotel di Indonesia</ion-card-subtitle>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/hotelsantika.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hotel Santika Bogor </h5>
          <p class="card-text">Alamat : Jl. Raya Pajajaran, Kec. Bogor Tengah, Bogor </p>
          <p class="card-text">Rate   : 4,4 </p>
          <p class="card-text">Phone  : (0251) 8400707 </p>
        </div>
      </div>  
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/ros-in.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ros In Hotel </h5>
          <p class="card-text">Alamat :  Jl. Ringroad Selatan, Kec. Sewon, Yogyakarta</p>
          <p class="card-text">Rate   : 4,3</p>
          <p class="card-text">Phone  :  (0274) 384543 </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100"> 
        <img src="/assets/aquila.jpg" class="card-img-top" alt="...">
        <div class="card-body"> 
          <h5 class="card-title">Grand Aquila Hotel</h5>
          <p class="card-text">Alamat : Jl. Dr Djunjunan, Kec. Sukajadi, Bandung</p>
          <p class="card-text">Rate   : 4,3 </p>
          <p class="card-text">Phone  : (022) 2039280</p>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content> 
