
<ion-content class = "ion padding ion-text-center">

<div class="logo">
    <img src= "/assets/travel.jpg"  width="300" height="300">
  </div>
 
  <div class="form">
    <ion-item lines='none'>
      <ion-input placeholder='Email' ></ion-input>
    </ion-item>  

    <ion-item lines='none'>
      <ion-input placeholder='Password' type='password' ></ion-input>
    </ion-item>

    <ion-button expand='block' (click)="go()">Login</ion-button>
  </div>
  <ion-button fill='clear'>Register</ion-button>    <ion-button fill='clear'>Lupa Password?</ion-button>   
</ion-content>