<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEAUTIFUL INDONESIA  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Gunung - gunung di Indonesia</ion-card-subtitle>
      <ion-card-title> Gunung Gede, Jawa Barat</ion-card-title> 
      <img src="/assets/gununggede.jpg" width="400" height="200" >
      <ion-button expand='block' (click)="goBack()">Klik disini untuk info lebih lanjut</ion-button> 
  </ion-card-header>

<ion-card-content>
  <div class="p-3 mb-2 ">
    <p> Gunung Gede merupakan sebuah gunung api bertipe stratovolcano yang berada di Provinsi Jawa Barat, Indonesia. 
      Gunung Gede berada di dua wilayah kabupaten yaitu Kabupaten Cianjur dan Sukabumi, gunung gede pun menjadi  gunung yang banyak di minati kalangan pecinta alam, karena memiliki suatu alun-alun yang sangat indah yaitu Alun-alun Suryakencana</p><br> 
    <p>Ketinggian       : 2.958 MDPL</p>
    <p>Lokasi           : Taman Nasional Gede Pangrango </p>
    <p>Provinsi         : Jawa Barat</p>
    <p>Letusan Terakhir : 13 Maret 1957</p>
    <p>Jenis gunung     : Stratovolcano (aktif)</p>
    <p>Rute Pendakian   : Ciputri, Cibodas, dan Salabintana </p>
    </div>
  </ion-card-content>
</ion-card>  

<ion-card>
  <ion-card-header>
    <ion-card-title> Gunung Rinjani, Nusa Tenggara Barat</ion-card-title>
    <img src="/assets/rinjani.jpg" width="400" height="200"  > 
    <ion-button expand='block' (click)="goBack()">Klik disini untuk info lebih lanjut</ion-button> 
</ion-card-header>
<ion-card-content>
  <div class="p-3 mb-2 ">
    <p> Gunung Rinjani adalah gunung yang berlokasi di Pulau Lombok, Nusa Tenggara Barat. Gunung yang merupakan gunung berapi kedua tertinggi di Indonesia,
      gunung ini merupakan gunung favorit bagi pendaki Indonesia karena keindahan pemandangannya serta memiliki danau Segara Anak yang sangat mempesona dan berlokasi di puncak gunung rinjani. Gunung Rinjani memiliki luas sekitar 41.330 ha dan ini akan diusulkan penambahannya sehingga menjadi 76.000 ha ke arah barat dan timur.</p> <br> 
    <p>Ketinggian       : 3.2726 MDPL</p>
    <p>Lokasi           : Taman Nasional Gunung Rinjani, Lombok </p>
    <p>Provinsi         : Nusa Tenggara Barat</p>
    <p>Letusan Terakhir : Juni 1994</p>
    <p>Jenis gunung     : Gunung Berapi maar (aktif)</p>
    <p>Rute Pendakian   : Sembalun, Tete Batu, Timbanuh, Torean, Senaru, dan Aik Berik </p>
 
      </div>
    </ion-card-content>
  </ion-card> 
</ion-content>
