<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEAUTIFUL INDONESIA <ion-button expand='block' (click)="goBack()">Logout</ion-button> 
    </ion-title>
  </ion-toolbar> 
</ion-header>  


<ion-content  [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Wonderful</ion-card-subtitle>
        <ion-card-title>INDONESIA</ion-card-title>
        <img src="/assets/indonesia.png" width="600" height="200"  >
    </ion-card-header> 
  <ion-card-content>
    <div class="p-3 mb-2">
      <p>Indonesia adalah negara kepulauan terbesar di dunia. Indonesia memiliki lebih dari 17.000 pulau, di mana hanya sekitar 7.000 pulau yang berpenghuni.
      yaitu Kalimantan, Jawa, Sulawesi, Sumatra dan Papua merupakan pulau utama di Indonesia. Selain itu Indonesia juga memiliki pulau-pulau kecil seperti Bali, Karimunjawa, Gili dan Lombok yang merupakan tujuan wisata lokal maupun internasional. 
      Ibukota negara Indonesia adalah Jakarta, yang terletak di Pulau Jawa.</p> <br> 

      <p>Selain pulau-pulau yang indah, iklim tropis yang dimiliki Indonesia juga menjadikan Indonesia menjadi tujuan wisata yang utama. Waktu terbaik untuk berwisata ke Indonesia adalah saat musim panas yang berlangsung mulai bulan April hingga Oktober.
      Bulan Maret dan November merupakan pergantian musim. Pada pergantian musim, cuaca di Indonesia dapat menjadi tidak menentu. Hujan, panas matahari dan angin lebat dapat datang bersamaan dalam satu hari. Sementara itu, musim hujan biasanya berlangsung mulai bulan Desember hingga Maret.
      Gunung dan Pantai merupakan salah satu tempat yang menjadi tujuan wisata alam favorit di Indonesia. </p><br> 
      
      <p>Gunung sendiri manjadi tempat wisata adventure masa kini oleh sebagian pencinta alam untuk menikmati keindahan alam, menghirup udara segar, dan untuk melatih fisik serta media pembelajaran karakter,
        selain gunung pantai pun menjadi sarana wisata yang paling di minati warga Indonesia karena liburan ke pantai mampu meningkatkan kreativitas, mengurangi depresi dan kecemasan serta mengembalikan kesehatan mental .</p>
        </div>
      </ion-card-content>
    </ion-card> 
</ion-content>
