ion-toolbar{
    --background: rgb(9, 56, 23);
    --color: rgb(249, 253, 9);
}
ion-card{
    background: rgb(4, 66, 90);
}
ion-card-subtitle{
   font-size: 20px;
   color:rgb(41, 231, 16);
}
ion-card-title{
    font-size: 40px;
    color:rgb(180, 12, 12);
}
ion-card-content{
    color:white;
}
ion-content{
    --background: rgb(5, 66, 26);
    --color: white;
} 
ion-button{
    text-transform: none;
    margin-right: 20px;
    margin-left: 1200px;
}