<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEAUTIFUL INDONESIA 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-3 mb-2 ">
  <ion-card-subtitle>Pantai - pantai di Indonesia</ion-card-subtitle>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/pantaisawarna.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pantai Sawarna </h5>
          <p class="card-text">Lokasi: Kabupaten Lebak, Banten </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/pantaipandawa.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pantai Pandawa</h5>
          <p class="card-text">Lokasi :  Kabupaten Badung, Bali.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100"> 
        <img src="/assets/pantaiora.jpg" class="card-img-top" alt="...">
        <div class="card-body"> 
          <h5 class="card-title">Pantai Ora</h5>
          <p class="card-text">Lokasi : Kacamatan Seram Utara, Maluku</p>
        </div>
      </div>
    </div>
  </div>
  </div>  
</ion-content>
